<nav>
  <a>
    
  </a>
  <a>
    Home
  </a>
  <a>
    Home
  </a>
  <!--<a routerLink="/">
    <img src="media/04.png" class="icon" alt="All Guitar"/>
  </a>
  <a routerLink="/accoustic">
    <img src="media/03.png" class="icon" alt="Accoustic Guitar"/>
  </a>
  <a routerLink="/classic">
    <img src="media/02.png" class="icon" alt="Classic Guitar" />
  </a>
  <a routerLink="/electric">
    <img src="media/03.png" class="icon" alt="Electric Guitar"/>
  </a>-->
</nav>
<section>
  <header>
    <h1>Yamaha Guitar List</h1>
    <p class="description">Music and rythm find their way into the secret places of soul.</p>
  </header>
  <yg-item-form></yg-item-form>
  <yg-guitar-item-list></yg-guitar-item-list>
</section>